/* Cores padrão para background*/
:root{
    --branco: white;
    --cinzao: darkgray;
}


/*controla tamanhos das imagens*/

.container img {
    max-width:200px;
    max-height:150px;
    width: auto;
    height: auto;
}


.roda img {
    max-width:200px;
    max-height:150px;
    width: auto;
    height: auto;
}


/*elementos base*/

body {
    background-color: var(--cinzao);
    font-family: 'Ubuntu', 'serif';
    color: black;
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 20px;
}
